<div class="app-layout">
  <app-header [showLogo]="true">
    <app-dropdown (monthChange)="onMonthChange($event)"></app-dropdown>
  </app-header>

  <div class="dashboard">
    <app-bar-chart
      [type]="chartType"
      [transactionItems]="transactionItems"
    ></app-bar-chart>
    <div class="icon-group">
      <mat-icon (click)="chartType = 'bar'" [class.active]="chartType === 'bar'"
        >bar_chart</mat-icon
      >
      <mat-icon
        (click)="chartType = 'doughnut'"
        [class.active]="chartType === 'doughnut'"
        >donut_large</mat-icon
      >
    </div>
  </div>

  <div class="report-container">
    @for (report of dwmReport; track $index) {
    <div class="report">
      <label class="label">{{ report.type }}</label>
      <h5 class="m-0 d-flex justify-content-center">
        <span class="currency-symbol">
          <mat-icon>{{ currencySymbol }}</mat-icon>
        </span>
        <span class="amount">{{ report.amount | amount }} </span>
      </h5>
    </div>
    }
  </div>

  <div class="transactions-container">
    @if (transactionItems.length) {
    <app-transactions
      [transactions]="transactionItems"
      (itemClick)="onCategoryClick($event)"
    >
    </app-transactions>
    } @else if(!isLoading) {
    <app-empty-state
      [message]="'No Transactions available.'"
      [subText]="'Please add some transactions against category.'"
      [height]="'40vh'"
    ></app-empty-state>
    }
  </div>

  <section id="new-transaction">
    <button mat-fab matRipple (click)="addTransaction()">
      <mat-icon>add</mat-icon>
    </button>
  </section>
</div>
