<div class="search-container">
  <app-search (searchTextChange)="onSearch($event)"></app-search>
</div>
<div class="icon-list">
  @for (icon of icons | search : searchText; track $index) {
  <ng-container>
    @defer (on viewport) {
    <app-icon
      [name]="icon.name"
      [label]="icon.label"
      [bgColor]="icon.bgColor"
      (click)="onIconSelect(icon)"
    >
    </app-icon>
    } @placeholder {
    <app-icon [name]="''" [label]="''" [bgColor]="'#ececec'"> </app-icon>
    }
  </ng-container>
  }
</div>
