.create-category {
  padding: 30px 10px;

  .title {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .icon-field {
      margin-bottom: 25px;

      app-icon {
        display: block;
        width: 100%;
      }
    }
  }

  .btn-add {
    width: 100%;
    background: #3f3f3f;
    color: white;
    height: 53px;
    font-size: 17px;
  }
}

.icon-container {
  min-height: 74.5vh;
}
