<div class="app-layout">
  <app-header [heading]="'Categories'"></app-header>
  <app-search (searchTextChange)="onSearch($event)"></app-search>

  <div class="category-list">
    @for (cat of categories | search: searchText; track $index) {
    <ng-container>
      @defer(on viewport) {
      <div class="category">
        @if(cat.icon) {
        <mat-icon
          class="category-icon"
          [style.backgroundColor]="cat.icon.bgColor"
        >
          {{ cat.icon.name }}
        </mat-icon>
        } @else {
        <div class="letter-icon text-capitalize">
          {{ cat.name.slice(0, 1) }}
        </div>
        }
        <span class="label">{{ cat.name | titlecase }}</span>
        <mat-icon [matMenuTriggerFor]="menu" class="action-icon">
          more_vert
        </mat-icon>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onEdit(cat)">
            <mat-icon class="material-icons-outlined"> edit </mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="onDelete(cat)">
            <mat-icon class="material-icons-outlined">delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </div>
      } @placeholder {
      <span>test</span>
      } @loading(after 100ms; minimum 1s) {
      <span>test</span>
      }
    </ng-container>
    } @empty {
    <app-empty-state
      [message]="'No Categories available.'"
      [subText]="'Please create category.'"
      [height]="'60vh'"
    ></app-empty-state>
    }
  </div>

  <section id="new-transaction">
    <button mat-fab (click)="createCategory()">
      <mat-icon>add</mat-icon>
    </button>
  </section>
</div>
