<div class="app-layout">
  <app-header
    [heading]="'All Transactions'"
    [badge]="categoryName"
  ></app-header>
  @if (transactionList.length) {
  <div class="transaction-container">
    @for (item of transactionList; track $index) {
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> {{ item.date }} </mat-panel-title>
        </mat-expansion-panel-header>

        <app-transactions
          [transactions]="item.list"
          [showActions]="true"
          (deleteClick)="onDelete($event)"
          (editClick)="onEdit($event)"
        >
        </app-transactions>
      </mat-expansion-panel>
    </mat-accordion>
    }
  </div>
  } @else if(!isLoading) {
  <app-empty-state
    [message]="'No Transactions available'"
    [subText]="'Please add some transactions against category.'"
  ></app-empty-state
  >}
</div>
