<div class="app-layout">
  <div class="sticky-header">
    <app-header
      [heading]="'All Transactions'"
      [badge]="categoryName"
    ></app-header>

    <div class="filter-container">
      <app-filter
        [label]="'Categories'"
        [type]="filterType.MultiSelect"
        [(ngModel)]="this.filters.categories"
        (valueChange)="onFilterValueChange()"
      >
      </app-filter>
      <app-filter
        [label]="'Modified'"
        [type]="filterType.SingleSelect"
        [(ngModel)]="this.filters.modified"
        (valueChange)="onFilterValueChange()"
      >
      </app-filter>
      <!-- <app-filter
        [label]="'Month'"
        [type]="filterType.SingleSelect"
        [(ngModel)]="this.filters.months"
        (valueChange)="onFilterValueChange()"
      >
      </app-filter>
      <app-filter
        [label]="'From Date'"
        [type]="filterType.Date"
        [(ngModel)]="this.filters.fromDate"
        (valueChange)="onFilterValueChange()"
      >
      </app-filter>
      <app-filter
        [label]="'To Date'"
        [type]="filterType.Date"
        [(ngModel)]="this.filters.toDate"
        (valueChange)="onFilterValueChange()"
      >
      </app-filter> -->
    </div>
  </div>

  @if (transactionList.length) {
  <div class="transaction-container">
    @for (item of transactionList; track $index) {
    <mat-accordion multi>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> {{ item.date }} </mat-panel-title>
        </mat-expansion-panel-header>

        <app-transactions
          [transactions]="item.list"
          [showActions]="true"
          (deleteClick)="onDelete($event)"
          (editClick)="onEdit($event)"
        >
        </app-transactions>
      </mat-expansion-panel>
    </mat-accordion>
    }
  </div>
  } @else if(!isLoading) {
  <app-empty-state
    [message]="'No Transactions available'"
    [subText]="'Please add some transactions against category.'"
    [height]="'70vh'"
  ></app-empty-state
  >}
</div>
