:host {
  position: relative;

  ::ng-deep {
    mat-expansion-panel {
      background-color: #121e29;
      box-shadow: none !important;
    }

    .mat-expansion-panel:not(.mat-expanded)
      .mat-expansion-panel-header:not([aria-disabled="true"]):hover {
      background-color: #121e29 !important;
    }

    mat-expansion-panel-header {
      padding: 0;
      padding-right: 10px;

      &:active {
        background-color: #121e29;
      }
    }
    .mat-expansion-panel-body {
      padding: 0;
    }
    mat-panel-title {
      color: white;
    }
  }

  .sticky-header {
    position: static;
    top: 0;
    z-index: 1;
    padding-bottom: 20px;
    background-color: #131e29;

    .filter-container {
      display: flex;
      gap: 10px;
      overflow: auto;
      padding-bottom: 6px;
    }
  }
}
