<div class="dropdown">
  <button matRipple class="dropdown-trigger" [matMenuTriggerFor]="menu">
    <span class="trigger-label">{{ selectedMonth.name }}</span>
    <mat-icon class="trigger-icon">keyboard_arrow_down</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      class="dropdown-option"
      *ngFor="let month of months"
      [class.active]="month.id === selectedMonth.id"
      (click)="onMonthSelect(month)"
    >
      {{ month.name }}
    </button>
  </mat-menu>
</div>
