<div class="filter-values">
  <div class="filter-header">
    <div class="left">
      <mat-icon (click)="onClose()"> close </mat-icon>
      <span class="label"> {{ label() }} </span>
    </div>
    <div class="right">
      <button
        mat-button
        color="primary"
        *ngIf="showClearBtn()"
        (click)="onClear()"
      >
        Clear
      </button>
    </div>
  </div>
  <div class="filter-list">
    <mat-selection-list [multiple]="multi" [color]="'primary'">
      <mat-list-option
        *ngFor="let option of options"
        [(selected)]="option.selected"
      >
        <div class="option-container">
          @if (multi) {
          <mat-icon class="material-icons-outlined">{{ option.icon }}</mat-icon>
          } @else {
          <mat-icon class="material-icons-outlined">{{
            option.selected ? "checked" : ""
          }}</mat-icon>
          }
          <span> {{ option.label }}</span>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>
