.filter-values {
  padding: 20px 0;
  position: relative;

  .filter-header {
    display: flex;
    justify-content: space-between;

    label {
      font-size: 17px;
      font-weight: 400;
    }
  }

  .filter-list {
    margin-top: 10px;

    ul {
      list-style-type: none;
      margin-top: 4px;
      padding-left: 0;
    }

    .option-container {
      display: flex;
      gap: 15px;
      font-size: 13px;
    }
  }
}

:host {
  ::ng-deep {
    .mdc-label {
      margin-bottom: 0 !important;
    }
  }
}
