.filter-values {
  padding: 20px 0;
  position: relative;

  .filter-header {
    display: flex;
    margin: 0 0 0 16px;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      gap: 15px;
      align-items: center;

      .label {
        font-size: 17px;
        font-weight: 400;
      }
    }

    .right {
      button {
        height: 24px;
      }
    }
  }

  .filter-list {
    margin-top: 10px;

    .option-container {
      display: flex;
      gap: 15px;
      font-size: 13px;
    }
  }
}

:host {
  ::ng-deep {
    .mdc-label {
      margin-bottom: 0 !important;
    }
  }
}
