.yearly-report {
  padding: 25px;

  .tabs {
    margin-top: 20px;
    margin-bottom: 80px;
  }
}

:host {
  ::ng-deep {
    .mat-mdc-tab .mdc-tab__text-label {
      color: white !important;
    }
  }
}
