.text-white {
  color: #ffffff !important;
}

.text-gray {
  color: gray !important;
}

.logout {
  margin-top: 100px;
}

.links {
  margin-top: 20px;

  .logout-button {
    height: 50px !important;
  }
}

:host {
  ::ng-deep {
    .profile-container {
      background-color: #0000001f;
      padding: 20px;
      border-radius: 20px;

      mat-icon {
        width: 100px !important;
        height: 100px !important;
      }

      .profile-name {
        color: white;
        text-align: center;
        font-weight: 200;
        font-size: 16px;
      }
    }
  }
}
