.links {
  margin-top: 20px;

  .link-icon,
  .link-label {
    color: #ffffff;
  }

  .link-label {
    font-family: "Poppins", sans-serif !important;
    font-weight: 200 !important;
  }
}

.logout {
  margin-top: 100px;

  button {
    height: 50px;
  }
}

.profile-container {
  background-color: #0000001f;
  padding: 20px;
  border-radius: 20px;
  text-align: center;

  .profile-image {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .profile-name {
    color: white;
    text-align: center;
    font-weight: 200;
    font-size: 16px;
  }
}

:host {
  ::ng-deep {
    .profile-container {
      mat-icon {
        width: 100px !important;
        height: 100px !important;
        font-size: 50px;
      }
    }
  }
}
