#dashboard {
  .dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    background-color: rgb(244, 247, 213);
    border-radius: 15px;
    margin-bottom: 20px;
  }
}

#dwmReport {
  .report-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .report {
      width: 100%;
      background-color: #f5f5f5;
      text-align: center;
      border-radius: 25px;
      padding: 10px;

      .label {
        color: #747474;
        font-size: 15px;
        font-weight: 400;
      }

      .currency-symbol > mat-icon {
        color: #747474;
        font-size: 13px;
        font-weight: 400;
        display: inline;
      }

      .amount {
        font-size: 19px;
        font-weight: 500;
      }
    }
  }
}

#transactions {
  margin-top: 20px;
}

#new-transaction {
  position: fixed;
  bottom: 20px;
  right: 20px;

  button {
    border-radius: 20px;
    background: #e8d0ff;
  }
}
