.transaction-list {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;

    .label {
      font-size: 15px;
      font-weight: 500;
      margin: 0;
      line-height: 22px;
      display: flex;

      .currency > mat-icon {
        color: #747474;
        font-size: 12px;
        font-weight: 400.5;
        display: inline;
      }
    }

    .sub-label {
      font-size: 10px;
      color: #827e7e;
      margin: 0;
      line-height: 15px;
    }

    .left {
      display: flex;
      gap: 15px;
      align-items: center;

      .icon {
        border-radius: 50%;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
