<ng-container *ngIf="!showIconList; else iconList">
  <div class="create-category">
    <form [formGroup]="form">
      <div class="input-container">
        <div class="icon-field">
          <app-icon
            [name]="selectedIcon?.name || 'upload'"
            [bgColor]="selectedIcon?.bgColor || '#ececec'"
            [label]="selectedIcon?.label || 'Select Icon'"
            (click)="openIconList()"
          >
          </app-icon>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Category Name</mat-label>
          <input matInput placeholder="Category Name" formControlName="name" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <input
            matInput
            placeholder="Description"
            formControlName="description"
          />
        </mat-form-field>
      </div>
      <button class="btn-add" mat-flat-button (click)="onCreate()">
        {{ isEdit ? "Update" : "Create" }}
      </button>
    </form>
  </div>
</ng-container>

<ng-template #iconList>
  <app-icon-list (iconSelect)="onIconSelect($event)"></app-icon-list>
</ng-template>
