.create-category {
  padding: 30px 10px;

  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .icon-field {
      display: flex;
      justify-content: center;

      margin-bottom: 20px;
      app-icon {
        display: block;
        width: 150px;
      }
    }
  }

  .btn-add {
    width: 100%;
    background: #3f3f3f;
    color: white;
    height: 53px;
    font-size: 17px;
  }
}
