.app-layout {
  padding: 15px;
  padding-bottom: 100px;
}

.vh-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width {
  width: 100%;
}

.btn-fixed {
  position: fixed;
  bottom: 100px;
  right: 20px;

  button {
    border-radius: 20px;
    background: #e8d0ff;
  }
}

* {
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100%;
  background: #131e29;
  user-select: none;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
